

.newscontent {

}

.left {
	float:left;
	font-weight: bold;

}

.right {
	float:right;
	font-weight: bold;

}

.google {
	height: 200px;
	width:245px;
	overflow: hidden;
	margin:auto;


}
iframe{
	margin-top:-60px;

}
.footer {
	margin-top: 12px;
}

.address{
	font-family: Arial;
	font-size:9px;	
	width: 230px;
	text-align: center;
	text-height: 14px;

}

.infocont {
	width: 1050px;
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 12%;	
	margin-top: 30px;
}

.infoboxes {
	height: 325px;
	width:325px;
	border: 1px solid grey;
	background-color: #CCB581;
	display:inline-block;
	border: 1px solid grey;
	overflow: scroll;
	

}
button {
	color:red;
	font-size: 8px;
	background-color:white;
}



.boxstyle {
	font-family: Arial;
	font-size:9px;	
	
}

body{
	background: beige;
}
#storyContainer, #menuContainer, #registration{
	background: #CCB581;
	width:1050px;
	margin-left: 12%;
	border-radius: 20px;
	text-align: center;
	margin-top:20px;
	padding: 5px;

}
#linkcont{
	margin-left: 12%;
	margin-top: 30px;
}


#logo {
	width: 100px;
	height: 100px;
	 -webkit-transform: rotate(10deg);
	 padding:0px;	
	 margin:20px;
}
	


.links{
	margin-right: 5px;
	margin-left:5px;
	text-decoration: none;
	border:3px solid grey;
	outline:2px solid black;
	padding: 2px;
	background: rgba(204,85,0,.6);
	color:black;
}

.links:active{
	background: rgba(204,85,0,.2);
}

@keyframes example {
    0%   {color: red; left:0px; top:0px;}
    25%  {color: black; left:200px; top:0px;}
    50%  {color: blue; left:200px; top:200px;}
    75%  {color: green; left:0px; top:200px;}
    100% {color: red; left:0px; top:0px;}
}
#social{
	float:right;
	margin-top: 35px;
	box-sizing: border-box;
	width:300px;

}
#social a{
	margin:0px 2px;

}

#social p{
	display: block;
	float:left;
	padding:0px;
	margin-top: 5px;
	margin-right: 5px;
	font-size:24px;
	font-family:cursive, Serif, Comic;
	animation-name: example;
	animation-duration: 33s;
	width:120px;

}

.social{
	border-radius: 50%;
	border:3px solid black;
}
.social:hover{
	box-shadow: 2px 2px #000;
}
#storypic{
	box-sizing: border-box;
	width:100%;
	height:400px;
	border:5px solid beige;
	

}
p{
	font-family:Serif;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.2em;
}

.foodTitle{
	font-size:22px;
	font-weight: bold;
}
h1{
	text-align: center;
	font-size:40px;
	width:275px;
	margin: auto;
	border-bottom:1px outset black;
	padding-top:3px;
	margin-bottom:3px;
}
h2{
	line-height: 3em;
	font-size: 25px;
	width: 200px;
	height:75px;
	margin:auto;
	margin-bottom: 10px;
	text-align:center;
	font:bold;
}
.finder{
	line-height: 3em;
	font-size: 33px;
	border-bottom: 5px double black;	
	width: 200px;
	height:75px;
	margin:auto;
	margin-bottom: 10px;
	text-align:center;
	
}
#form{
	width:500px;
	text-align: center;
	margin: auto;	
}
#form input, #form select, #form textarea{
	width:400px;
	margin:10px 0px;
	border:2px solid black;
	background: rgb(248,248,248)

}
#form input{
	height:30px;
}
#form textarea{
	height:75px;
}

#form select{
	height:35px;
}
#form input:hover, #form select:hover, #form textarea:hover{
	background: rgba(204,85,0,.6);

}
button{
	margin:20px 0px;
	width:110px;
	border-radius: 100px;
	outline:none;
	color:white;
	background: rgb(101,67,33);
	border:none;
}

button:active{
	background:white;
	color:rgb(101,67,33);
	box-shadow:4px 5px rgb(101,67,33);
}

#vegan, #spicy, #favorite, #allergies{
	height:20px;
	width:20px;
}

div .accord{
	display: none;
}
div .show{
	display:block;
}
.finder{
	cursor: pointer;
}
.foodcontainer{
	float:right;
	margin-top: 30px;
	margin-right:20px;
}

.foodcontainer img {
	display: block;
	height:180px;
	width:180px;
	border: 2px solid grey;
	margin-bottom: 70px;
}
#mainphoto {
		border: 2px solid grey;
		width: 1050px;
		height:250;
		border: 2px solid grey;
		margin-left:12%;

}
#logo{
	color:grey;
	font-family:Cursive;
	font-size:50px;
	-webkit-text-stroke-width:2px;
   	-webkit-text-stroke-color: rgb(97,39,37);
}
/*float above wine bottle*/


